*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

body{
    background: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.Logo{
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
    gap: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;

}

.caja-de-texto{
    position: absolute;
    left: 10px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;

}

.areatexto{
    width: 940px;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0a3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
}

.area-texto::placeholder{
    color: #0a3871;
}

.logo-alerta{
    position: absolute;
    top: 750px;
    left: 37px;
    display: flex;
    color: #495057;
}

.botones{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.boton-encriptador{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0a3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    border: none;
    margin-right: 20px;
    margin-top: 35px;
    cursor: pointer;
}

.boton-desencriptador{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    border: 1px solid #0a3871;
    margin-right: 20px;
    margin-top: 35px;
    cursor: pointer;
}

.segunda-seccion{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 50px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.dibujo-persona{
     position: absolute;
     left: 30px;
     top: 180px;
     box-sizing: border-box;
     padding-top: 50px;
}

.parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 40px;
}

.parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'inter', sans-serif;
    text-align: center;
    color: #343a40;
}

.parrafo p{
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.boton-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    border: 1px solid #0a3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}

.resultado{
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

.resultado p{
    color: #495057;
    font-size: 25px;   
}


.ocultar{
    display: none;
}

